.header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo{
    max-height: 32px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}

.fixed {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.example-spacer {
    flex : 1  1 auto;
 }